# postgresql database url
DATABASE_URL=
# better auth url
BETTER_AUTH_URL=
# base url for things like og image
NEXT_PUBLIC_BASE_URL=


GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=

# smtp mail host. only provide if you are not using mail proxy
MAIL_HOST=
# smtp port
MAIL_PORT=
# smtp user
MAIL_USER=
# smtp password
MAIL_PASSWORD=
# smtp secure boolean
MAIL_SECURE=
# the sender email address for email
EMAIL_SENDER=


S3_ENDPOINT=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=


# generate this using 'openssl rand -base64 32'
BETTER_AUTH_SECRET=
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=
POLAR_PRODUCT_ID=
POLAR_PRODUCT_SLUG=
